$dist: '../../dist/';

// fonts
$s-default: 16;

// slick
// $slick-font-path: $path+'fonts/slick' !default;

// color

// containers
$container: 1200px;

// media points
$m-xs: 320px;
$m-sm: 576px;
$m-md: 800px;
$m-lg: 992px;
$m-ws: 1024px;
$m-xl: 1200px;
$m-mdpi: 1280px;
$m-hd: 1367px;
$m-rwd: 1440px;
$m-fhd: 1920px;